#Folders
/.env
/.vscode

#Files

#/platzigram/platzigram/__pycache__

/platzigram/platzigram/__pycache__
/platzigram/posts/__pycache__
/platzigram/users/__pycache__

/platzigram/users/migrations/__pycache__
/platzigram/posts/migrations/__pycache__
platzigram/platzigram/__pycache__/settings.cpython-38.pyc
platzigram/platzigram/__pycache__/urls.cpython-38.pyc
