{% extends 'users/base.html' %}

{% block head_content %}
    <title>Platzigram sign in</title>
{% endblock head_content %}

{% block container %}
    
    <!-- En caso de que estemos recibiendo la variable 'error' en el renderizado lo mostraremos. -->
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
    
    <!-- Agregamos {% url "login" %} para poder invocar como 'login' y si alguna vez cambia url no habrá problemas. -->
    <form action="{% url "login" %}" method="POST">
        <!-- csrf_token es un metodo de Django para evitar ataques CSRF("Cross-site request forgery"). -->
        {% csrf_token %}

        <div class="form-group">
            <input class="form-control mb-2" type="text" placeholder="Username" name="username" />
            <input class="form-control" type="password" placeholder="Password" name="password" />
        </div>
        
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    </form>

    <p class="mt-4">Don't have an account yet? <a href="{% url 'signup' %}">Sign up here</a></p>

{% endblock container %}